
# 生成当前函数的swagger api 文档信息
#	summary: API端点摘要
#	description: API端点详细描述
#	tags: swaggo注释命令, 表示此端点标签, 用于将相关的API组织在一起更好的浏览和查找
#	accept: 表示API端点接收的请求体格式, 默认是JSON
#	produce: 表示API端点返回的响应格式, 默认是JSON
#	param: 参数名称 参数位置(query/path/body) 参数类型(string, int, boolean) 是否必须(true, false) 描述
#	success: 成功响应(200 数据类型 数据结构或类型)
#	router: 描述API端点的路由信息(路径 请求方法)
snippet sgswag "Swaggo API with Params and Response" b
// @Tags ${1:Endpoint tags}
// @Summary ${2:Summary of the endpoint}
// @Security	ApiKeyAuth
// @Accept  json
// @Produce  json
// @Param ${4:param-name} ${5:query} ${6:string} ${7:true} "${8:Description of the parameter}"
// @Success 200 {object} utils.ResponseHttp
// @Router ${9:/your-endpoint-path} [${10:get}]
endsnippet
