[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/DoxygenToolkit"]
	path = bundle/DoxygenToolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/powerline/powerline.git
[submodule "taglist"]
	path = taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/winmanager"]
	path = bundle/winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule "bundle/lookupfile"]
	path = bundle/lookupfile
	url = https://github.com/vim-scripts/lookupfile.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-pydocstring"]
	path = bundle/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-pyenv"]
	path = bundle/vim-pyenv
	url = https://github.com/lambdalisue/vim-pyenv.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/helino/vim-json.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
